  <div  class="card p-3 mt-3 bg-light">
  <h3 class="d-inline p-2">
    {{ plant.name }}
    <fa-icon class="p-2"
      (click)="onDelete(plant)"
      [ngStyle]="{ color: 'red' }"
      [icon]="faTimes"
    ></fa-icon>
    ||
    <fa-icon class="p-2 "
      (click)="onUpdate(plant)"
      [ngStyle]="{ color: 'grey' }"
      [icon]="faEdit"
    ></fa-icon>
  </h3>
  <div class="card-text">
    <p> origine :{{ plant.origine }} || color :{{ plant.color }} </p>
    <p>Date{{ plant.created }}</p>
  </div>
  <div>
    <p>used for :</p>
  <ul *ngFor="let usage of plant.usages">
    <li>{{ usage.name }}</li>
  </ul>
</div>
</div>


